/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ltic-card-block {
	ul.block-editor-block-variation-picker__variations {
		.block-editor-block-variation-picker__variation {
			height: auto !important;
		}

		.block-editor-block-variation-picker__variation-label {
			padding: 10px;
			max-width: 200px;
			line-height: 1.5;
			font-size: 1rem;
			text-align: center;
		}
	}
}
