/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-ltic-card-block {
	--card-padding-vertical: 2em;
	--card-padding-horizontal: 2em;
	--card-background-color: #fff;

	--card-border-width: 1px;
	--card-border-style: solid;
	--card-border-color: #ccc;

	--card-image-border-radius: 0;

	--card-button-font-size: 1rem;
	--card-button-font-weight: 400;
	--card-button-line-height: 1.2;

	--card-button-padding-vertical: .8em;
	--card-button-padding-horizontal: 1.7em;

	--card-button-background-color: #002145;
	--card-button-text-color: white;
	--card-button-border-color: #002145;
	--card-button-border-width: 1px;
	--card-button-border-style: solid;
	--card-button-border-radius: 0;

	--card-button-hover-background-color: #0055b7;
	--card-button-hover-text-color: white;
	--card-button-hover-border-color: #0055b7;
	--card-button-hover-border-width: 1px;
	--card-button-hover-border-style: solid;
	--card-button-hover-border-radius: 0;

	&.is-style-style-2 {
		--card-background-color: #e6e6e666;
		--card-border-radius: 0;
	}

	&.is-style-style-3 {
		--card-border-radius: 20px;
		--card-border-color: #ababab;

		--card-image-height: 150px;

		--card-button-border-radius: 10px;
		--card-button-hover-border-radius: 10px;
	}
 }

 .wp-block-ltic-card-block {
	background-color: var(--card-background-color);
	border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
	display: block;
	text-decoration: auto;

	p {
		color: black;

		&:empty {
			display: none;
		}
	}

	> :is(.wp-block-image, .wp-block-post-featured-image) {
		margin-bottom: 0;

		img {
			border-radius: var(--card-image-border-radius);
			width: 100%;
			height: auto;
		}
	}

	> .wp-block-ltic-card-inner-text-block {
		padding: var(--card-padding-vertical) var(--card-padding-horizontal);

		:is(.wp-block-heading, .wp-block-post-title):first-child {
			margin-top: 0;
		}
	}

	> :is(.wp-block-buttons, .wp-block-read-more) {
		margin: 0 var(--card-padding-horizontal) var(--card-padding-vertical) var(--card-padding-horizontal);
	}

	:is(.wp-block-buttons .wp-block-button__link, .wp-block-read-more) {
		font-size: var(--card-button-font-size);
		font-weight: var(--card-button-font-weight);
		line-height: var(--card-button-line-height);
		padding: var(--card-button-padding-vertical) var(--card-button-padding-horizontal);
		border: var(--card-button-border-width) var(--card-button-border-style) var(--card-button-border-color);
		background-color: var(--card-button-background-color);
		color: var(--card-button-text-color);
		border-radius: var(--card-button-border-radius);

		&:hover {
			background-color: var(--card-button-hover-background-color);
			color: var(--card-button-hover-text-color);
			border-color: var(--card-button-hover-border-color);
			border-width: var(--card-button-hover-border-width);
			border-style: var(--card-button-hover-border-style);
			border-radius: var(--card-button-hover-border-radius);
		}
	}

	&.is-style-style-2 {
		&:has(> :is(.wp-block-buttons, .wp-block-read-more)) {
			> .wp-block-ltic-card-inner-text-block {
				margin-bottom: var(--card-padding-vertical);
				border-bottom: var(--card-border-width) var(--card-border-style) var(--card-border-color);
			}
		}
	}

	&.is-style-style-3 {
		border-left: var(--card-border-width) var(--card-border-style) var(--card-border-color);
		border-right: var(--card-border-width) var(--card-border-style) var(--card-border-color);
		overflow: hidden;
		box-shadow: 0.5rem 0.5625rem 1.3125rem 0 rgba(0, 0, 0, 0.15);
		border-radius: var(--card-border-radius);

		> :is(.wp-block-image, .wp-block-post-featured-image) {
			height: var(--card-image-height);
			overflow: hidden;
			width: 100%;
			object-fit: cover;
		}
	}
 }